@keyframes growing-fading-border {
    from{
        width: 40px;
        height: 40px;
        opacity: 100%;
    }
    to{
        width: 160px;
        height: 160px;
        opacity: 0;
    }
}

.button-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 40px;
    position: fixed;
    margin-bottom: 30px;
    transition: 0.5s;
}

.button-border{
    position: absolute;
    width: 80px;
    height: 80px;
    background: linear-gradient(to top right,#202b31,#2b363d);
    box-shadow: -5px 5px 10px #1d2429;
    border-radius: 100px;
}

.start-button{
    z-index: 100;
    align-items: center;
    background-color: #ff9100;;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    background-image: url("https://www.svgrepo.com/show/80156/down-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    transition: 0.5s;
}

.start-button:hover{
    background-color: #ffba60;
    cursor: pointer;
}

.restart-button{
    background-image: url("https://www.svgrepo.com/show/343263/reset.svg");
}

.animated-outer-border{
    position: absolute;
    background: linear-gradient(to top right,#202b31,#2b363d);
    border-radius: 100px;
    box-shadow: -5px 5px 10px #1d2429;
    animation-name: growing-fading-border;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}