.topbar-container{
    padding-top: 20px;
    font-size: 1.2rem;
    font-family: "Roboto",sans-serif;
    display: flex;
    flex-flow: row nowrap;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.topbar-container .hamburger-icon{
    z-index: 10;
    width: 30px;
    font-size: 1.5rem;
}

.topbar-container .hamburger-icon:hover{
    cursor: pointer;
}

.share-button:hover{
    opacity: 0;
    cursor: default;
}

.sidebar-container{
    position: fixed;
    top: 0;
    color: white;
    width: 15%;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: 20px;
    margin-top: 10px;
    padding-left: 50px;
    transform: scale(0);
    transform-origin: 40px 50%;
    transition: 0.5s ease-in-out;
}

.sidebar-container div{
    background-color: orange;
    padding: 8px 20px;
    border: solid white;
    border-radius: 100px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.sidebar-container div:hover{
    background-color: rgb(255, 197, 88);
}

.main-logo{
    margin-left: 20px;
    font-size: 35px;
}